name: Build Custom QEMU RPM

on:
  workflow_dispatch:
    inputs:
      qemu_repo:
        description: 'QEMU Git repository URL'
        required: false
        default: 'https://github.com/qemu/qemu'
        type: string
      qemu_tag:
        description: 'Tag/branch of QEMU to build'
        required: false
        default: 'v10.2.0-rc4'
        type: string
      qemu_version:
        description: 'Version of QEMU RPM to build (if not provided, derived from tag)'
        required: false
        default: ''
        type: string
      rpm_image_tag:
        description: 'Tag to use for the resulting RPM container image'
        required: false
        default: 'qemu-mshv'
        type: string
  push:
    branches:
    - msft-main
    - ise
    paths:
      - .github/workflows/build-qemu-rpm.yaml

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/qemu-rpms

jobs:
  build-rpms:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set env vars
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            qemu_repo="${{ github.event.inputs.qemu_repo }}"
            qemu_tag="${{ github.event.inputs.qemu_tag }}"
            qemu_version="${{ github.event.inputs.qemu_version }}"
            rpm_image_tag="${{ github.event.inputs.rpm_image_tag }}"
          else
            qemu_repo="https://github.com/qemu/qemu"
            qemu_tag="v10.2.0-rc4"
            qemu_version=""
            rpm_image_tag="qemu-mshv"
          fi

          echo "QEMU_REPO=${qemu_repo}" >> $GITHUB_ENV
          echo "QEMU_TAG=${qemu_tag}" >> $GITHUB_ENV
          echo "QEMU_VERSION=${qemu_version}" >> $GITHUB_ENV
          echo "RPM_IMAGE_TAG=${rpm_image_tag}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
          # TODO Revert back to this password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build QEMU RPM
        run: |
          hack/qemu-mshv/build-qemu-rpms.sh \
            -r ${{ env.QEMU_REPO }} \
            -t ${{ env.QEMU_TAG }} \
            -v "${{ env.QEMU_VERSION }}"

      - name: Create Container Image
        run: |
          hack/qemu-mshv/build-rpms-http-image.sh \
            -r ${{ env.REGISTRY }} \
            -i ${{ env.IMAGE_NAME }} \
            -t ${{ env.RPM_IMAGE_TAG }} \
            -d rpms-qemu

      - name: Push Container Image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RPM_IMAGE_TAG }}

          echo "Pushed container image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RPM_IMAGE_TAG }}"