name: Build Custom QEMU RPM

on:
  workflow_dispatch:
    inputs:
      qemu_repo:
        description: 'QEMU Git repository URL'
        required: false
        default: 'https://github.com/qemu/qemu'
        type: string
      qemu_tag:
        description: 'Tag/branch of QEMU to build'
        required: false
        default: 'v10.2.0-rc4'
        type: string
      qemu_version:
        description: 'Version of QEMU RPM to build (if not provided, derived from tag)'
        required: false
        default: ''
        type: string
      rpm_image_tag:
        description: 'Tag to use for the resulting RPM container image'
        required: false
        default: 'qemu-mshv'
        type: string
  push:
    branches: ["ise"]
    paths:
      - .github/workflows/build-qemu-rpm.yaml

env:
  REGISTRY: ghcr.io
  # TODO: Revert back to original repo once PAT is created with write permissions
  # TODO IMAGE_NAME: ${{ github.repository }}/qemu-rpms
  IMAGE_NAME: harshitgupta1337/kubevirt/qemu-rpms

jobs:
  build-rpms:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build QEMU RPM
        run: |
          hack/qemu-mshv/build-qemu-rpms.sh \
            -r ${{ inputs.qemu_repo }} \
            -t ${{ inputs.qemu_tag }} \
            -v "${{ inputs.qemu_version }}"

      - name: Create Container Image
        run: |
          hack/qemu-mshv/build-rpms-http-image.sh \
            -r ${{ env.REGISTRY }} \
            -i ${{ env.IMAGE_NAME }} \
            -t ${{ inputs.rpm_image_tag }} \
            -d rpms-qemu

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

      - name: Push Container Image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.rpm_image_tag }}

          echo "Pushed container image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.rpm_image_tag }}"