name: Build Custom libvirt RPMs

on:
  workflow_dispatch:
      inputs:
        libvirt_repo:
          description: 'Libvirt Git repository URL'
          required: false
          default: 'https://github.com/libvirt/libvirt.git'
          type: string
        libvirt_tag:
          description: 'Tag/branch of Libvirt to build'
          required: false
          default: 'v11.10.0'
          type: string
        rpm_image_tag:
          description: 'Tag to use for the resulting RPM container image'
          required: false
          default: 'qemu-mshv'
          type: string
  push:
    branches: ["ise"]
    paths:
      - .github/workflows/build-libvirt-rpms.yaml

env:
  REGISTRY: ghcr.io
  # TODO: Revert back to original repo once PAT is created with write permissions
  # TODO IMAGE_NAME: ${{ github.repository }}/libvirt-rpms
  IMAGE_NAME: harshitgupta1337/kubevirt/libvirt-rpms

jobs:
  build-rpms:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build libvirt RPMs
        run: |
          hack/qemu-mshv/build-libvirt-rpms.sh \
            -r ${{ inputs.libvirt_repo }} \
            -t ${{ inputs.libvirt_tag }} \
            -i ${{ github.run_id }} \
            -n ${{ github.run_number }}

      - name: Create Container Image
        run: |
          hack/qemu-mshv/build-rpms-http-image.sh \
            -r ${{ env.REGISTRY }} \
            -i ${{ env.IMAGE_NAME }} \
            -t ${{ inputs.rpm_image_tag }} \
            -d rpms-libvirt

      - name: Push Container Image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.rpm_image_tag }}

          echo "Pushed container image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.rpm_image_tag }}"