name: Build Custom libvirt RPMs

on:
  workflow_dispatch:
  push:
    branches: ["ise"]
    paths:
      - .github/workflows/build-libvirt-rpms.yaml

env:
  LIBVIRT_REPO: https://github.com/kaizentm/libvirt.git
  REGISTRY: acrafoimages.azurecr.io
  IMAGE_NAME: l1vh/libvirt-rpms
  LIBVIRT_TAG: qemu_mshv_v1
  RPM_IMAGE_TAG: qemu-mshv

jobs:
  build-rpms:
    runs-on: ubuntu-latest
    environment: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libvirt RPMs
        run: |
          hack/qemu-mshv/build-libvirt-rpms.sh \
            -r ${{ env.LIBVIRT_REPO }} \
            -t ${{ env.LIBVIRT_TAG }} \
            -i ${{ github.run_id }} \
            -n ${{ github.run_number }}

      - name: Create Container Image
        run: |
          hack/qemu-mshv/build-rpms-http-image.sh \
            -r ${{ env.REGISTRY }} \
            -i ${{ env.IMAGE_NAME }} \
            -t ${{ env.RPM_IMAGE_TAG }} \
            -d rpms-libvirt

      - name: Azure login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ACR_RW_UMI_CLIENT_ID }}
          tenant-id: ${{ secrets.ACR_RW_UMI_TENANT_ID }}
          subscription-id: ${{ secrets.ACR_RO_UMI_SUBSCRIPTION_ID }}

      - name: Push Container Image
        run: |
          az acr login --name ${{ env.REGISTRY }}

          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RPM_IMAGE_TAG }}

          echo "Pushed container image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RPM_IMAGE_TAG }}"
