name: Build Custom QEMU RPM

on:
  workflow_dispatch:
  push:
    branches: ["ise"]
    paths:
      - .github/workflows/build-qemu-rpm.yaml

env:
  QEMU_REPO: https://github.com/kaizentm/qemu
  REGISTRY: acrafoimages.azurecr.io
  IMAGE_NAME: l1vh/qemu-rpms
  QEMU_VERSION: 10.1.50.mshv.v5
  RPM_IMAGE_TAG: qemu-mshv

jobs:
  build-rpms:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build QEMU RPM
        run: |
          hack/qemu-mshv/build-qemu-rpms.sh \
            -r ${{ env.QEMU_REPO }} \
            -v ${{ env.QEMU_VERSION }}

      - name: Create Container Image
        run: |
          hack/qemu-mshv/build-rpms-http-image.sh \
            -r ${{ env.REGISTRY }} \
            -i ${{ env.IMAGE_NAME }} \
            -t ${{ env.RPM_IMAGE_TAG }} \
            -d rpms-qemu

      - name: Azure login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ACR_RO_UMI_CLIENT_ID }}
          tenant-id: ${{ secrets.ACR_RO_UMI_TENANT_ID }}
          subscription-id: ${{ secrets.ACR_RO_UMI_SUBSCRIPTION_ID }}

      - name: Push Container Image
        run: |
          az acr login --name ${{ env.REGISTRY }}

          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RPM_IMAGE_TAG }}

          echo "Pushed container image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RPM_IMAGE_TAG }}"
