name: Deploy and Test

on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        required: true
        type: string
      image_tag:
        description: 'The image tag to deploy'
        required: true
        type: string

env:
  DOCKER_PREFIX: ghcr.io/${{ github.repository }}
  DOCKER_TAG: ${{ inputs.image_tag }}
  KUBEVIRT_PROVIDER: k8s-1.32
  KUBECONFIG: ${{ github.workspace }}/kube-config
  KUBEVIRT_WITH_ETC_IN_MEMORY: "true"
  KUBEVIRT_PROVIDER_EXTRA_ARGS: "--usb 30M --usb 40M"
  JUNIT_REPORT_FILE: _out/artifacts/junit.functest.xml
  KUBEVIRT_E2E_PARALLEL: "true"
  TARGET: "k8s-1.32-sig-compute-parallel"

  
jobs:
  Deploy_and_Test:
    environment: ${{ inputs.environment }}
    runs-on: [self-hosted, azurelinux-cr-dev-sub, large]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: automation-test
        run: |
          set -eux
          ./automation/test.sh
          
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.environment }}-func-test-results
          path: ${{ env.JUNIT_REPORT_FILE }}
          retention-days: 30

      - name: Publish Test Results
        uses: dorny/test-reporter@v1
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: "Functional Tests ${{ inputs.environment }}"
          path: ${{ env.JUNIT_REPORT_FILE }}
          reporter: java-junit
          fail-on-error: false
          max-annotations: 50